/* Navbar */
.navbar {
  padding: 16px 0;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);

  .logo {
    img {
      height: 40px;

      @media (max-width: 480px) {
        height: 32px;
      }
    }
  }

  .link {
    color: #fff;
  }
}
