.faqList {
  border-radius: 10px;
}

.faqItem {
  border-bottom: 1px solid #ddd;
}

.faqQuestion {
  background: #f9f9f9;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: background 0.3s ease;

  &:hover {
    background: #e6a93cb5;
  }

  .faqIcon {
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
  }

  &.active {
    background: #e6a93cb5;

    .faqIcon {
      transform: rotate(180deg);
    }
  }
}

.faqAnswer {
  max-height: 0;
  transition:
    max-height 0.4s ease,
    padding 0.3s ease;
  background: #fff;
  padding: 0 20px;

  p {
    font-size: 16px;
    color: #212529bf;
    line-height: 1.5;
  }

  &.show {
    max-height: 200px;
    padding: 15px 20px;
  }
}
