.toggler {
  margin-left: 10px;
  height: 100%;

  button {
    padding: 13px;
    font-weight: 500;
    background: rgba(255,255,255,.25);
    border-color: rgba(255,255,255,.25);
    color: #fff;

    &.active {
      color: #fff;
      background: #e6a93c;
      box-shadow: inset 0 0px 10px 1px rgb(255 255 255 / 46%);
    }
  }
}
