@use '../styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

body {
  background: #fafafa;
}

.result {
  margin: 50px auto 30px;
  max-width: 1000px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .img {
    width: 30%;

    @media (max-width: 800px) {
      width: 100%;
    }

    img {
      max-height: 500px;
      min-height: 500px;
      height: 100%;
      object-fit: cover;

      @media (max-width: 800px) {
        max-height: 200px;
        min-height: 200px;
      }
    }
  }

  .right-side {
    flex: 1;
    padding: 20px;

    @media (max-width: 800px) {
      width: 100%;
    }

    .buttons {
      button {
        padding: 15px;
        background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
        border-color: transparent;
        color: #fff;
      }

      .mp4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        @media (max-width: 600px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

.next {
  margin: auto;
  max-width: 1000px;

  button {
    padding: 15px;
    color: #fff;
    background: #e6a93c;
    border: 1px solid #e6a93c;
  }
}
