@use '../styles/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fafafa;
}

.result {
  margin: 50px auto 30px;
  max-width: 1000px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  .img {
    width: 30%;
    img {
      max-height: 470px;
      min-height: 470px;
      height: 100%;
      object-fit: cover;
    }
  }

  .right-side {
    flex: 1;
    padding: 20px;

    .buttons {
      button {
        height: 50px;
        background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
        border-color: transparent;
        color: #fff;
      }

      .mp4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
      }
    }
  }
}

.next {
  margin: auto;
  max-width: 1000px;

  button {
    height: 50px;
    color: #fff;
    background: #e6a93c;
    border: 1px solid #e6a93c;
  }
}
