.downloader {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  padding: 20px 20px 40px;

  h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 600 !important;
    line-height: 1.2 !important;
  }

  h2 {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }

  .inputGroup {
    position: relative;
    display: flex;
    max-width: 600px;
    margin: 20px auto;

    .input {
      flex: 1;
      height: 50px;
      padding: 0 15px;
      border: 2px solid #e2e8f0; // light gray border
      border-radius: 8px 0 0 8px;
      font-size: 18px;
      outline: none;
      transition: all 0.2s ease-in-out;

      &:focus {
        border-color: #38bdf8; // sky blue
        box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.3);
      }
    }

    button {
      border: none;
      color: #fff;

      &.paste {
        border-radius: 0 8px 8px 0;
      }

      &.search {
        margin-left: 10px;
      }
    }
  }
}
